.page-not-found-title{
    color: red;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}
.page-not-found-link{
    text-align: center;
    display: block;
    color: green;
    font-style: italic;
    margin: 8px;
}
